
@{
    ViewData["Title"] = "Quiz3";
}

<div>
    <h3 class="display-4 text-center">Как пишется «тысяч»</h3>
    <img src="~/image/kak-pishetsya-tysyach.jpg" class="rounded mx-auto d-block" id="q1" />

    <p class="text-sm-center">
        Слово «тысяча» является числительным, но оно близко к существительному, так как имеет форму множественного числа (это редко свойственно 
        числительным). Именно поэтому и возникает проблема, как слово «тысяч» пишется, – это родительный падеж множественного числа. Но в родительном 
        падеже множественного числа после шипящих мягкий знак не пишется! Числительное склоняется по типу существительного I скл. Сравните: много туч, 
        несколько училищ и т.п. Так же пишется и это слово: «сто тысяч звезд», «пять тысяч рублей» и т.п.
 </p>
    <p class="text-center">
        Примеры:
        <ul>
            <li>Он получил лишь пару тысяч рублей.</li>
            <li>Несколько тысяч студентов вышли на улицы города.</li>
            <li>У тебя не найдется десяти тысяч до зарплаты?</li>
         </ul>
    </p>
    <div class="form-check">
        <input unchecked type="checkbox" class="form-check-input" id="allow" onclick="start()">
        <label class="form-check-label">Я согласен на запуск</label>
    </div>
    <form asp-controller="quiz" asp-action="test" method="get">
        <input type="hidden" name="id" value="@null" />
        <input type="hidden" name="quizid" value="3" />

        <input id="btn" class="btn btn-primary rounded mx-auto d-block" type="submit" value="Начать тест" />
    </form>

</div>









<script>

    document.getElementById("btn").disabled = true;

     function start() {
        var chbox;
        chbox = document.getElementById('allow');
        if (chbox.checked) {
            document.getElementById("btn").disabled = false;
        }
        else {
            document.getElementById("btn").disabled = true;
        }
    }



</script>
